## Material for MkDocs

# Cache
.cache

# Output directory
/public

## Python

# Environments
.venv
venv

# Byte-compiled / optimized / DLL files
__pycache__/

## MacOS
.DS_Store
._.DS_Store

.idea/
.vscode/