CairoSVG==2.7.1
mdwrap @ git+https://github.com/swiss-ai-center/mdwrap.git@a93eb79da302f67f574433917216857d21a3d9d2
mkdocs-git-revision-date-localized-plugin==1.2.4
mkdocs-glightbox==0.3.7
mkdocs-material==9.5.17
mkdocs-minify-plugin==0.8.0
pillow==10.2.0
