code {
	tab-size: 2
}

[data-md-color-scheme="default"] {
	--md-code-hl-color: var(--md-accent-fg-color--transparent);
	--md-primary-fg-color: #d41367;
	--custom-icon-color:  #892650;
}

[data-md-color-scheme="slate"] {
	--md-code-hl-color: var(--md-accent-fg-color--transparent);
	--md-primary-fg-color: #892650;
	--custom-icon-color:  #d41367;
}

.icon {
	color: var(--custom-icon-color);
	font-size: 1.2em;
}

.md-typeset__table > table > tbody > tr > td, .md-typeset__table > table > thead > tr > th {
	font-size: 1.2em;
}